@font-face {
  font-family: 'Courier_Prime';
  src: url('CourierPrime-Regular.ttf') format('truetype');
}
body
{
	background-color:black;
	color:white;
	text-align:center;
	font-family:'Courier_Prime';
}


#cvs
{
	margin-top:5%;
}


.number_label
{
	font-size:1em;
	text-decoration: none;
}

	.number_container
	{
		font-family: 'Courier_Prime', monospace;
		font-size:3em;
		-webkit-user-select: none; /* Safari */
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+/Edge */
		user-select: none; /* Standard */

	}

	.number
	{
		font-family: 'Courier_Prime', monospace;
		font-size:1em;
		-webkit-user-select: none; /* Safari */
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+/Edge */
		user-select: none; /* Standard */
		background-color:black;
		color:white;
		border:none;
		text-align:center;

	}

	.arrow
	{
		color:lightgrey;
	}

	.arrow:hover
	{
		color:orange;
		cursor:pointer;
	}




	.panel
	{
		display:inline-block;
		vertical-align: top;
		/*border:solid 1px white;*/
	}


	#center-panel
	{
		width:630px;
		height:500px;
	}

	#left-panel, #right-panel
	{
		text-align:right;
		font-size:24px;
		width:15%;
		padding-right:5px;
		line-height: 48px;
	}

	#right-panel
	{
		padding-left:5px;
		text-align:left;
	}


	.interact_link
	{
		cursor:pointer;
	}

	.interact_link:hover
	{
		color:orange;
	}

	.list-delete
	{
		cursor:pointer;
	}

	.list-delete:hover
	{
		color:red;
	}

ul
{
	list-style-type: "> ";
}


#save_button
{
	margin-left:50%;
}
